.container-cabecalho{
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #fff;
}

.label_titulo{
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
    color: inherit;
}